<!-- <employee-Count [all]="getTotalEmployeesCount()"
                [male]="getMaleEmployeesCount()"
                [female]="getFeMaleEmployeesCount()"
                (countRadioSelectionChanged)="onEmployeeCountRbChange($event)">

</employee-Count> -->
<table>
    <thead>
        <tr>
            <th>staff no</th>
            <th>FullName</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let employee of employees;trackBy:trackByStaffNo;let i=index;">
        <tr  *ngIf="selectedRbGender=='All' || selectedRbGender==employee.gender">
            <td>{{employee.staffNo}}</td>
            <td>{{employee.fullName }}</td>
            <td>{{employee.gender}}</td>
        </tr>
    </ng-container>
    <tr *ngIf="!employees || employees.length==0">
        <td colspan="3">no records found</td>
    </tr>
    </tbody>

</table>
<br />
<button (click)="getEmployees()">Refresh Employees</button>
